<div>
    <h1>Person View</h1>
    <div>
        <p>Number of vowels: {{person?.vowels}}</p>
        <p>Number of constenants: {{person?.constenants}}</p>
        <p>The firstname + last name entered: {{person?.fullname}}</p>
        <p>The reverse version of the firstname and lastname: {{person?.reversed_fullname}}</p>
    </div>
    <div>
        <p>The JSON format of the entire object:</p>
        <pre>{{person?.person_as_json| json}}</pre>
    </div>
    <button class="btn btn-sm btn-primary mx-1" type="button" (click)="goBack()">Go back</button>
</div>